HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Spring Boot ###
.mvn/wrapper/maven-wrapper.jar # If you accidentally have Maven wrapper
target/ # Maven target directory (though you're using Gradle)

### Logs and Temporary Files ###
*.log
tmp/
temp/

### Executables ###
*.exe
*.jar # Unless you intend to commit final runnable JARs

### Operating System Specific ###
.DS_Store # macOS
Thumbs.db # Windows thumbnail cache